# # Main Employee Attendance API
# EMAIL_SENDER=amujurimallesh8@gmail.com
# EMAIL_PASSWORD=bgeqsuywmbjtvlky
# # Hubble Mock API
# HUBBLE_API_URL=http://127.0.0.1:8001

# # MongoDB used by the Hubble integration
# MONGO_URI=mongodb+srv://hubble_app:hubble_app@cluster0.qbjyo4c.mongodb.net/?appName=Cluster0
# MONGO_DATABASE=hubble_employee_db

EMAIL_SENDER=your_email@gmail.com
EMAIL_PASSWORD=your_new_gmail_app_password

HUBBLE_API_URL=http://127.0.0.1:8001

MONGO_URI=your_new_mongodb_connection_string
MONGO_DATABASE=hubble_employee_db