# # Copy this file to .env.hubble and replace the placeholder.
# MONGO_URI=mongodb+srv://hubble_app:hubble_app@cluster0.qbjyo4c.mongodb.net/?appName=Cluster0
# MONGO_DATABASE=hubble_employee_db

MONGO_URI=your_new_mongodb_connection_string
MONGO_DATABASE=hubble_employee_db